<template>
  <div class="container">
    <div class="row row align-items-center justify-content-center">
      <div class="col-sm-6 border border-top-0">
        <h1>Todo list</h1>
        <hr><br><br>
        <alert :message=message v-if="showMessage"></alert>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.item-modal>Add Task</button>
        <br><br>
        <table class="table table-hover">
          <tbody>
            <tr v-for="(item, index) in todo_list" :key="index">
              <td>
                <input type="checkbox" id="checkbox"
                       v-model="item.complete" v-on:change="onUpdateCheckbox(item)">
              </td>
              <td>{{ item.text }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          @click="onDeleteItem(item)">
                      Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addItemModal"
            id="item-modal"
            title="Add new task"
            hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-title-group"
                    label="Text:"
                    label-for="form-title-input">
          <b-form-input id="form-title-input"
                        type="text"
                        v-model="addItemForm.text"
                        required
                        placeholder="Enter text">
          </b-form-input>
        </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      todo_list: [],
      addItemForm: {
        text: '',
      },
      message: '',
      showMessage: false,
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getItems() {
      const path = 'https://todo-list-server.ew.r.appspot.com/todo_items';
      axios.get(path)
        .then((res) => {
          this.todo_list = res.data.todo_list;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addItem(payload) {
      const path = 'https://todo-list-server.ew.r.appspot.com/todo_items';
      axios.post(path, payload)
        .then(() => {
          this.getItems();
          this.message = 'Todo item added!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getItems();
        });
    },
    initForm() {
      this.addItemForm.text = '';
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addItemModal.hide();
      const payload = {
        text: this.addItemForm.text,
      };
      this.addItem(payload);
      this.initForm();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addItemModal.hide();
      this.initForm();
    },
    updateItem(payload, itemID) {
      const path = `https://todo-list-server.ew.r.appspot.com/todo_items/${itemID}`;
      axios.put(path, payload)
        .then(() => {
          this.getItems();
          this.message = 'Todo item updated!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getItems();
        });
    },
    onUpdateCheckbox(item) {
      const payload = {
        complete: item.complete,
      };
      this.updateItem(payload, item.id);
    },
    removeItem(itemID) {
      const path = `https://todo-list-server.ew.r.appspot.com/todo_items/${itemID}`;
      axios.delete(path)
        .then(() => {
          this.getItems();
          this.message = 'Todo item removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getItems();
        });
    },
    onDeleteItem(item) {
      this.removeItem(item.id);
    },
  },
  created() {
    this.getItems();
  },
};
</script>
